@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto Mono, monospace;
    background-color: #9c9a9a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 40px;
    text-align: center;
    padding: 7px;
    margin-top: 10px;
}

.controls{
    width: 500px;
    color: white;
    font-size: 50px;
    display: block;
    text-align: center;
    
}

#reset-icon{
    cursor: pointer;
}

#reset-icon:hover{
    filter: opacity(0.75);
}

.scores{
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 20px;
}

#scoreO{
    color: blue;
}

#scoreX{    
    color: red;
}

.game-container{
    background-color: whitesmoke;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 10;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100%/3);
    
}

.block{
    display: flex;
    border: 1px solid black;
    width: calc(100%/3);
    height: 100%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

i{
    margin: auto;
    font-size: 60px;
}

.fa-xmark{
    color: red;
}

.fa-o{
    color: blue;
}

.reset-points{
    cursor: pointer;
    width: 240px;
    height: 20px;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.reset-points:hover{
    filter: opacity(0.75);
}

.reset-points:active{
    transform: scale(0.9);
}

@media screen and (max-width:600px){
    .game-container{
        width: 95%;
    }
}
